<a href="https://colab.research.google.com/github/MounishaChalasani/MounishaChalasani-INFO5731_Assignment_One_fall2022/blob/main/In_class_exercise_03_10062022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (10/06/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [2]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
The one of challenging text classification task is Sentiment Analysis. In sentiment we categorize the sentimental words as positive, negavtive, neutral.
Features that used for building the model are:
  Entity Features
  Word feature extraction
  
'''

'\nPlease write you answer here:\nThe one of challenging text classification task is Sentiment Analysis. In sentiment we categorize the sentimental words as positive, negavtive, neutral.\nFeatures that used for building the model are:\n  Entity Features\n  Word feature extraction\n  '

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [17]:
# You code here (Please add comments in the code):

import nltk
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as req

comments = 'https://www.imdb.com/title/tt7286456/reviews'
data = pd.DataFrame(columns=['Review'])
request = req.get(comments).text
soup = bs(request,'html.parser')

reviews_df = soup.find_all('div', attrs={'class' : 'text show-more__control'})

list = []
for i in range(len(reviews_df)):
    list.append(reviews_df[i].get_text())
 
 #to get word count
data['Reviews'] = list
data['Count'] = data['Reviews'].apply(lambda x: len(str(x).split(" ")))
data = data[['Reviews','Count']]
data.head()

                                             Reviews  Count
0  Truly a masterpiece, The Best Hollywood film o...    133
1  I have seen Joker yesterday at Venice an early...    280
2  I get why some people hate this . It's because...     70
3  Let me start off by saying if Joaquin Phoneix ...    148
4  Every once in a while a movie comes, that trul...     83

In [19]:
#to get character count

data['Char_count'] = data['Reviews'].str.len() ## including spaces
data = data[['Reviews','Char_count']]
data.head()

                                             Reviews  Char_count
0  Truly a masterpiece, The Best Hollywood film o...         862
1  I have seen Joker yesterday at Venice an early...        1599
2  I get why some people hate this . It's because...         406
3  Let me start off by saying if Joaquin Phoneix ...         842
4  Every once in a while a movie comes, that trul...         549

In [21]:
# to get stopwords count

from nltk.corpus import stopwords
import nltk

nltk.download('stopwords')
stopwords = stopwords.words('english')

data['stopwords'] = data['Reviews'].apply(lambda x: len([x for x in x.split() if x in stopwords]))
data = data[['Reviews','stopwords']]
data.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                             Reviews  stopwords
0  Truly a masterpiece, The Best Hollywood film o...         53
1  I have seen Joker yesterday at Venice an early...        127
2  I get why some people hate this . It's because...         30
3  Let me start off by saying if Joaquin Phoneix ...         57
4  Every once in a while a movie comes, that trul...         33

In [23]:
#to get numbers count
data['numbers'] = data['Reviews'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data = data[['Reviews','numbers']]
data.head()

                                             Reviews  numbers
0  Truly a masterpiece, The Best Hollywood film o...        0
1  I have seen Joker yesterday at Venice an early...        1
2  I get why some people hate this . It's because...        0
3  Let me start off by saying if Joaquin Phoneix ...        0
4  Every once in a while a movie comes, that trul...        0

In [24]:
#to get hashtags count
data['hastags'] = data['Reviews'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data = data[['Reviews','hastags']]
data.head()

                                             Reviews  hastags
0  Truly a masterpiece, The Best Hollywood film o...        0
1  I have seen Joker yesterday at Venice an early...        0
2  I get why some people hate this . It's because...        0
3  Let me start off by saying if Joaquin Phoneix ...        0
4  Every once in a while a movie comes, that trul...        0

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [26]:
# You code here (Please add comments in the code):

text_classification = (data['Reviews'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
text_classification.columns = ['words','tf']
text_classification

            words  tf
0               a  14
1             the  12
2              of   8
3            that   8
4              is   7
..            ...  ..
182        oscars   1
183  least.\nIt's   1
184          take   1
185       differs   1
186   convincing.   1

[187 rows x 2 columns]